<!-- <nav class="navbar">
  <a  (click)="onLogoutClick()"  href="#">Logout</a>
</nav> -->

<div class="topnav">

  <!-- Centered link -->
  <div class="topnav-centered" >
    <a type="clients" [ngClass]="tab.client === '1' ? 'activeTab' : 'Tab'"
       [routerLink]="['/dashboard/clients']">
       Client Details
    </a>
  </div>



  <!-- Left-aligned links (default) -->
  <div>
  <a type="dashboard" [ngClass]="tab.dash === '1' ? 'activeTab' : 'Tab'"
     [routerLink]="['/dashboard']">
     Dashboard
  </a>
  </div>


  <!-- Right-aligned links -->
  <div class="topnav-right">
    <a type="logout" [ngClass]="tab.logout === '1' ? 'activeTab' : 'Tab'"
       (click)="onLogoutClick()"  href="#">
       Logout
    </a>
  </div>

</div>
