.topnav {
  position: relative;
  overflow: hidden;
  background-color: rgb(18, 55, 68);
  /* color: white; */
}

.topnav a {
  float: left;
  /* color: #f2f2f2; */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
  font-weight: 500;
}

.activeTab{
  background-color:#ddd ;
  color: black;
}
.activeTab:hover{
  font-weight: 700;
}

a{
  color: #ddd;
}


.topnav a:active {
  background-color: #4CAF50;
  color: white;
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}

/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }
  
  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}